.copyrights {
    height: 25px;
    opacity: 60%;
    background-color: #373844;
    padding: 2px 2px 10px 2px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    color: white;
}

.right {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
}

.nav {
    height: 75px;
    opacity: 75%;
    background-color: #424566;
    display: flex;
    flex-direction: row;
    z-index: 1;
    padding: 7px;
}

.left {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    color: azure;
}

#font {
    font-size: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.body {
    background-color: #424566;
    width: 100%;
    height: 580px;


}

.features {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #424566;

    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}

.font1 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 300;
    color: #424566;

}

ol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: #424566;
}


.image {

    width: 300px;
    height: 200px;
    margin: 50px;
}

.container {
    height: 1500px;
    text-align: center;
}

.left_body_support {
    float: left;
    width: 50%;
}
.right_body_support {
    background-color: #424566;
    width: 50%;
    float: right;
    height: 580px;
}

.form_right {
    float: right;
    width: 45%;
}

.form_left {
    float: left;
    width: 50%;
    margin-left: 10px;
}

.form_left p {
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 2px 10px 2px 10px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form_btn {
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #FA8B8B;
    text-align: center;
    padding: 10px 100px 10px 100px;
    text-shadow: indianred;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right_body_support h1 {
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
}

.form_right input {
    padding: 10px 80px 10px 10px;
    border-radius: 100px;
    border: white;
    margin: 10px 10px 10px 10px;
}

.form_right textarea {
    border-radius: 20px;
    border: white;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.img_right {
    width: 85%;
    height: 100%;
    margin: 50px 2px 20px 50px;
}
