@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.bg {
    background-image: url("assets/img/adminBG.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.nav{
    height: 75px;
    background-color: #424566;
    display: flex;
    flex-direction: row;
    z-index:1;
    padding: 7px;
}

.left{
    flex:0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    color: azure;
    
}

.right{
    flex:0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
}

#font{
    font-size: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.bodytext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.bodybutton{
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #FA8B8B;
    text-align: center;
    padding:15px 60px 15px 60px;
    text-shadow: indianred;
    font-size: 22px;   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

.features{
    padding-left: 8px;
    padding-right: 8px;
    background-color: #424566;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.feature_data{
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom:20px;
    margin-right: 5px;
}

.body{
    display: flex;
    flex-direction: row;
    background-color: #f7f8fc;
}

.dashboard_kit{
    width: 20%;
    background-color: #363740;
    padding: 2rem;
}

.dashboard{
    /* display: flex; */
    flex-direction: row;
}

.dashboard_kit h2{
    color: white;
    opacity: 50%;
}

.overview{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0.3rem 3rem 0.3rem 3rem;
}

.overview-left{
    display: flex;
    flex-direction: row;
    margin-left: 35rem;
}

button{
    border: none;
    background-color: #363740;
    color: white;
    opacity: 50%;
}
.footer{
 
    padding: 8px 10px 8px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: white;
    background-color: #424566;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_data{
    height:100%;
    float:left;
    box-sizing:border-box; /* so the borders don't mess up the alignment */
    color: white;
    background-color: #424566; 
}

.footer_data a{
    text-decoration: none;
    text-align: center;
    color: white;
}

.copyrights{
    height: 25px;
    opacity: 60%;
    background-color: #373844;
    padding: 2px 2px 10px 2px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    color: white;
}
/* from user */

button:hover {
    opacity: 1;
}

a.sub {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    padding: 15px;
    background-color: #424566;
    color: white;
}

a.sub:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.sub:hover:before {
    visibility: visible;
    width: 100%;
}
table {
    margin: 0 auto;
    font-size: large;
    border: 1px solid black;
}

h1 {
    text-align: center;
    color: #b7c5f9;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT',
        ' Calibri', 'Trebuchet MS', 'sans-serif';
}

td {
    background-color: #b7c5f9;;
    border: 1px solid black;
}

th,td {
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

td {
    font-weight: lighter;
}  



